<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>240516747661-gujolp1q1bdm9351kj53mh89h0ba2t1u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.240516747661-gujolp1q1bdm9351kj53mh89h0ba2t1u</string>
	<key>API_KEY</key>
	<string>AIzaSyDPrOOVcKLIfMJTgJU1UZQ-21I_P44UTVw</string>
	<key>GCM_SENDER_ID</key>
	<string>240516747661</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.lifeOps</string>
	<key>PROJECT_ID</key>
	<string>life-ops</string>
	<key>STORAGE_BUCKET</key>
	<string>life-ops.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:240516747661:ios:2f859ba9a76e00c1b8edc4</string>
</dict>
</plist>